.quizzy {
    box-sizing: border-box;

    /* background-color: #b8c6db; */
    /* background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%); */
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    overflow: hidden;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.quiz-header {
    padding: 2rem;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Adjust button spacing */
    /* margin-top: 1rem; */
}

.next {
    flex: 1; /* Distribute space evenly between buttons */
    /* margin: 0 0.5rem;  */
    background-color: #03cae4;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

.next:hover {
    background-color: #04adc4;
}

.next:focus {
    outline: none;
    background-color: #44b927;
}

.quiz-h2 {
    padding: 1rem 0; /* Adjust top and bottom padding of the question */
    text-align: center;
    margin: 0;
    color:grey
}

.quiz-ul {
    list-style-type: none;
    padding: 0;
}

.quiz-ul .quiz-li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.quiz-ul .quiz-li .quiz-label {
    cursor: pointer;
}